
#demo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.blue {
    /* background-color: blueviolet; */
    background-image: linear-gradient(to right, yellow, red, yellow);
}

.green {
    background-color: green;
}

.box {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

   
}

.box:hover {
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transition: all ease 1s;
       
    }
}




/************************* this Style for slick slider Start **************************/
/* .slick-arrow {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: transparent;
    font-size: 28px;
    transform: translateY(-50%);
    z-index: 99;

}

.slick-next {
    left: auto;
    right: 30px;
}

.slick-dots {
    position: absolute;
    list-style: none;
    padding: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 99;
    bottom: 20px;
    display: flex;

}
.slick-dots li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;

}

.slick-dots li button {
    display: none;
}

.slick-dots li.slick-active {
    background-image: linear-gradient(to right, red , yellow, green, red);
    border-radius: 50%;

} */

/********************* this Style for slick slider End *********************/

/* animation Start */
/* .div-style {
    
    width: 400px;
    height: 200px;
    padding: 10px;
    background-color: tomato;
} */

/* animation End */
/************************************************* this calculator for practice *********************************************** */

section {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #e0e0e0; */
    background-color: #99d6ee;
    margin: 0;
    
}

input {
    height: 433px;
}


.calculator {
    background: #fff;
    border-radius: 10px;
    border: 5px solid #287d9f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;

}

#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    border: none;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #f0f0f0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    /* background-image: linear-gradient(to top, red, yellow, green, yellow); */
    color: white;
    /* border-radius: 5px; */
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.1);
    /* transform: scale(1.9); */
    transition: all ease 1s;
}

.equals {
    background-color: #28a745;
}

.equals:hover {
    transform: scale(1.1);
}
/************************************************* this calculator for practice *********************************************** */
